@import "tailwindcss";

/* Hide scrollbar for Webkit, Firefox, IE */
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
@tailwind base;
@tailwind components;
@tailwind utilities;
